<div *ngIf="bandit">

  <h2>{{bandit.name | uppercase}} Details!</h2>

  <div>id: {{bandit.id}}</div>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Bandit name:</mat-label>
    <input matInput #searchBox id="search-box" [(ngModel)]="bandit.name" type="text" placeholder="name">
  </mat-form-field>

</div>

<div class="example-button-row">
  <button mat-flat-button (click)="goBack()">go back</button>
  <button mat-flat-button (click)="save()">save</button>
</div>