<div id="search-component">

  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Unit Search</mat-label>
      <input matInput #searchBox id="search-box" (input)="search(searchBox.value)">
    </mat-form-field>
  </form>

  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let unit of units$ | async">
      <a [routerLink]="['/', unit.type, unit.id]">
        {{ unit.name }} ({{ unit.type }})
      </a>
    </mat-list-item>
  </mat-list>

</div>