a {
  display: inline-block;
  max-width: 570px;
  padding: 0.6rem;
  width: 100%;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  background-color: rgb(0, 92, 187);
  border-radius: 20px;

  &:hover {
    background-color: black;
  }
}

.example-form {
  min-width: 150px;
  max-width: 600px;
  width: 100%;
  margin-top: 2rem;
}

.example-full-width {
  width: 100%;
}



