h2 {
  text-align: center;
}

.heroes-menu, .bandits-menu {
  padding: 0;
  margin: auto;
  max-width: 1000px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
  padding: 10px;
}

@media (min-width: 600px) {
  a {
    width: 18%;
    box-sizing: content-box;
  }
}

a:hover {
  background-color: #000;
}

