<h2>My Bandits</h2>

<div>
  <label for="new-bandit">Bandit name: </label>
  <input type="text" id="new-bandit" #banditName>

  <button type="button" class="add-button" (click)="add(banditName.value)">Add bandit</button>
</div>

<ul class="bandits">
  <li *ngFor="let bandit of bandits">
    <a routerLink="/bandit/{{bandit.id}}">
      <span class="badge">{{bandit.id}}</span> {{bandit.name}}
    </a>
    <button type="button" class="delete" (click)="delete(bandit)" title="delete bandit">x</button>
  </li>
</ul>