<h2>My Bandits</h2>

<div>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Bandit name:</mat-label>
    <input matInput id="new-bandit" #banditName>
  </mat-form-field>

  <button mat-fab extended type="button" (click)="add(banditName.value)">
    <mat-icon>add</mat-icon>
    Add bandit
  </button>

</div>

<mat-list role="list">
  <mat-list-item role="listitem" *ngFor="let bandit of bandits">

    <a routerLink="/bandit/{{bandit.id}}">
      <span class="badge">{{bandit.id}}</span> {{bandit.name}}
    </a>

    <button mat-icon-button type="button" (click)="delete(bandit)" title="delete bandit">
      <mat-icon>close</mat-icon>
    </button>

  </mat-list-item>
</mat-list>