<h2>My Heroes</h2>

<div>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Hero name:</mat-label>
    <input matInput id="new-hero" #heroName>
  </mat-form-field>

  <button mat-fab extended type="button" (click)="add(heroName.value)">
    <mat-icon>add</mat-icon>
    Add hero
  </button>

</div>

<mat-list role="list">
  <mat-list-item role="listitem" *ngFor="let hero of heroes">

    <a routerLink="/hero/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>

    <button mat-icon-button type="button" (click)="delete(hero)" title="delete hero">
      <mat-icon>close</mat-icon>
    </button>

  </mat-list-item>
</mat-list>